<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD3jiit8GQBxmGAnO5NDjgf6LPvQsfa2Vo</string>
	<key>GCM_SENDER_ID</key>
	<string>52750110952</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.uk.logically-creative.notetaker</string>
	<key>PROJECT_ID</key>
	<string>note-taker-lc</string>
	<key>STORAGE_BUCKET</key>
	<string>note-taker-lc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:52750110952:ios:85a178da4b006bab62b95d</string>
</dict>
</plist>